In [1]:
import duckdb

In [2]:
con = duckdb.connect(':memory:')

In [4]:
con.execute("SELECT COUNT(DISTINCT country) FROM './data/wildchat.parquet' ").fetchdf()

   count(DISTINCT country)
0                      201

In [7]:
messages = con.execute("SELECT message_body FROM './data/batches_from_openai/all_data.parquet' WHERE classification = 1").fetchdf()

In [13]:
messages["message_body"] = messages.message_body.str.replace("[MESSAGE]", "").str.replace("[\\MESSAGE]", "")

In [19]:
con.execute("SELECT COUNT(DISTINCT hashed_ip) FROM './data/wildchat.parquet' JOIN messages ON LOWER(content) = LOWER(message_body) ").fetchdf()

   count(DISTINCT hashed_ip)
0                       1222

In [21]:
con.execute("SELECT COUNT(DISTINCT hashed_ip) FROM './data/wildchat.parquet' WHERE country = 'United States' AND role = 'user' AND language = 'English'").fetchdf()

   count(DISTINCT hashed_ip)
0                      17093

In [22]:
1222 / 17093

0.07149125372959692

In [14]:
messages

                                           message_body
0     legislation that impacts Intellectual disabili...
1     what is the case of taiwan being its own indep...
2     what is the case for taiwan not being independent
3     how does the purchase of firehouse subs by Res...
4     What events has affected the graduation rate a...
...                                                 ...
4989  rewrite this text and call readers to watch th...
4990  What city was the site of the bloodiest race r...
4991  What city saw widespread rioting which resulte...
4992  In recent times in the USA, what percent of ac...
4993  On the national debt, what is the closest poli...

[4994 rows x 1 columns]