In [62]:
import duckdb
import openai
import pandas as pd
from sklearn.metrics import classification_report, f1_score, balanced_accuracy_score
import tiktoken

from tqdm import tqdm

In [63]:
con = duckdb.connect(":memory:")

# Full dataset

In [64]:
con.execute("SELECT COUNT(*) FROM '../data/wildchat.parquet'").fetchone()

(3920520,)

In [65]:
con.execute("SELECT COUNT(DISTINCT conversation_hash) FROM '../data/wildchat.parquet'").fetchone()

(826406,)

# Filtered sample

In [66]:
con.execute("SELECT COUNT(*) FROM '../data/wildchat.parquet' WHERE country = 'United States' AND role = 'user' AND language = 'English'").fetchone()

(265419,)

In [67]:
con.execute("SELECT COUNT(DISTINCT conversation_hash) FROM '../data/wildchat.parquet' WHERE country = 'United States' AND role = 'user' AND language = 'English'").fetchdf()

   count(DISTINCT conversation_hash)
0                             146164

# Random annotation sample

In [5]:
con.execute("SELECT classification, COUNT(*) FROM '../data/sample_for_annotation_annotated.csv' GROUP BY classification").fetchdf()

   classification  count_star()
0               0           992
1               1             8

# Targeted search sample

In [7]:
with open("../data/searched_news.txt", "r") as f:
    records = f.read()

print(len(records.split("---")) - 1)

58

# LLM performance check

In [8]:
llm = openai.OpenAI()

In [11]:
with open("./prompts/classification.txt", "r") as f:
    prompt = f.read()

## Prepare human annotations for LLM performance check

In [14]:
annotations = con.execute("SELECT content, classification FROM '../data/sample_for_annotation_annotated.csv'").fetchdf()

In [23]:
searched = pd.DataFrame([r.strip() for r in records.split("---")[:-1]], columns=["content"])
searched["classification"] = 1

In [24]:
annotations = pd.concat([annotations, searched])

In [26]:
annotations.classification.value_counts()

classification
0    992
1     66
Name: count, dtype: int64

## Run LLM evaluation

In [27]:
outputs_mini = []
outputs_o = []
for _, s in tqdm(annotations.iterrows(), total=len(annotations)):
    resp = llm.chat.completions.create(
        model="gpt-4o-mini",
        messages=[
            {"role": "system", "content": prompt},
            {"role": "user", "content": f"[MESSAGE]{s.content}[\\MESSAGE]"},
        ]
    )
    outputs_mini.append(resp.choices[0].message.content)
    resp = llm.chat.completions.create(
        model="gpt-4o",
        messages=[
            {"role": "system", "content": prompt},
            {"role": "user", "content": f"[MESSAGE]{s.content}[\\MESSAGE]"},
        ]
    )
    outputs_o.append(resp.choices[0].message.content)

100%|██████████| 1058/1058 [28:41<00:00,  1.63s/it]

In [28]:
annotations["gpt-4o-mini"] = outputs_mini
annotations["gpt-4o"] = outputs_o
annotations.to_csv("../data/sample_for_annotation_annotated_llm.csv", index=False)

In [30]:
def extract_classification(output):
    clf = output.split("\n")[0]
    try:
        return int(clf)
    except ValueError:
        return None

In [31]:
annotations["clf_gpt-4o-mini"] = annotations["gpt-4o-mini"].apply(extract_classification)
annotations["clf_gpt-4o"] = annotations["gpt-4o"].apply(extract_classification)

In [35]:
# set to 0 if not found (1 record)
annotations.loc[annotations["clf_gpt-4o"].isna(), "clf_gpt-4o"] = 0

In [36]:
annotations["clf_gpt-4o-mini"].value_counts()

clf_gpt-4o-mini
0    974
1     84
Name: count, dtype: int64

In [37]:
annotations["clf_gpt-4o"].value_counts()

clf_gpt-4o
0.0    940
1.0    118
Name: count, dtype: int64

In [39]:
print(classification_report(annotations["classification"], annotations["clf_gpt-4o-mini"]))

              precision    recall  f1-score   support

           0       0.99      0.98      0.98       992
           1       0.71      0.91      0.80        66

    accuracy                           0.97      1058
   macro avg       0.85      0.94      0.89      1058
weighted avg       0.98      0.97      0.97      1058

In [41]:
print(classification_report(annotations["classification"], annotations["clf_gpt-4o"]))

              precision    recall  f1-score   support

           0       1.00      0.95      0.97       992
           1       0.54      0.97      0.70        66

    accuracy                           0.95      1058
   macro avg       0.77      0.96      0.83      1058
weighted avg       0.97      0.95      0.95      1058

In [42]:
print(f1_score(annotations["classification"], annotations["clf_gpt-4o-mini"], average="weighted"))
print(f1_score(annotations["classification"], annotations["clf_gpt-4o"], average="weighted"))
print(balanced_accuracy_score(annotations["classification"], annotations["clf_gpt-4o-mini"]))
print(balanced_accuracy_score(annotations["classification"], annotations["clf_gpt-4o"]))

0.9732161297828683
0.9538368811813375
0.9424486803519061
0.957630742913001

# Cost estimate for entire sample

In [45]:
enc = tiktoken.encoding_for_model("gpt-4o-mini")

In [68]:
# Input
all_user_messages = con.execute("SELECT content FROM '../data/wildchat.parquet' WHERE country = 'United States' AND role = 'user' AND language = 'English'").fetchdf()
all_tokens = sum([len(enc.encode(m, disallowed_special=())) for m in all_user_messages.content])
print(f"Total tokens: {all_tokens}")
print(f"Cost: ${all_tokens * 0.15 / 1_000_000:.2f}")

Total tokens: 66777553
Cost: $10.02

In [55]:
# Output
all_outputs = con.execute("""SELECT "gpt-4o-mini" FROM '../data/sample_for_annotation_annotated_llm.csv'""").fetchdf()
all_tokens = sum([len(enc.encode(m, disallowed_special=())) for m in all_outputs["gpt-4o-mini"]])
print(f"Total tokens: {all_tokens}")
cost_per_record = all_tokens * 0.6 / 1_000_000 / len(all_outputs)
print(f"Cost per record: ${cost_per_record:.2f}")
print(f"Total cost: ${cost_per_record * len(all_user_messages):.2f}")

Total tokens: 32158
Cost per record: $0.00
Total cost: $5.02

# LLM annotate entire sample

In [71]:
con.execute("SELECT role, COUNT(*) FROM '../data/wildchat.parquet' GROUP BY role").fetchdf()

        role  count_star()
0       user       1960260
1  assistant       1960260

In [72]:
con.execute("""SELECT conversation_hash, content FROM '../data/wildchat.parquet' 
            WHERE country = 'United States' AND role = 'user' AND language = 'English'
            AND conversation_hash NOT IN (SELECT conversation_hash FROM '../data/sample_for_annotation_annotated.csv')
            AND content NOT IN (SELECT content FROM '../data/sample_for_annotation_annotated_llm.csv')""").fetch_df()

Empty DataFrame
Columns: [conversation_hash, content]
Index: []

In [ ]:
            AND content NOT IN (SELECT content FROM '../data/sample_for_annotation_annotated_llm.csv')""").fetch_df()